<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap" rel="stylesheet">

<app-navbar></app-navbar>

<section>
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col col-lg-8 mb-8 mb-lg-0">
        <div class="card mb-1 carta" style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <img src="../../../assets/img/logo.jpg"
                alt="Avatar" class="img-fluid my-5" style="width: 145px;" />
              <h5>{{identidad.correo}}</h5>
              <p>Alumno</p>
              <i class="far fa-edit mb-5"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Información</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Nombre</h6>
                    <p class="text-muted">{{identidad.nombres}} {{identidad.apellidos}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Carnet</h6>
                    <p class="text-muted">{{identidad.carnet}}</p>
                  </div>
                </div>
                <h6>Fondos</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Administración</h6>
                    <p class="text-muted">Q{{identidad.cuentaAdmin | number: '1.2-2'}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Cafetería</h6>
                    <p class="text-muted">Q{{identidad.cuentaCafeteria | number: '1.2-2'}}</p>
                  </div>
                </div>
                <div class="d-flex justify-content-start">
                  <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                  <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                  <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
