
*{
  font-family: 'League Spartan', sans-serif;
}

body{
  background-color: #f4f5f7;
}

.gradient-custom {
  background: #014A97;
}

h5{
  color: rgb(255, 255, 255);
  font-size: 25px;
}

p{
  color: rgb(255, 255, 255);
  font-size: 20px;
}

h6{
  font-size: 23px;
}

.carta {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.foot{
  position: fixed;
  bottom: 0;
  width: 100%;
}
