<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>marbete</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
  <app-navbar></app-navbar>

  <div id="marbete">
    <div  class="contenedor">
      <div class="circulo"></div>
      <div (click)="printPage()" class="imagen"></div>
      <h1 class="titulo1">Marbete</h1>
      <div class="cuadrado">
          <h2>Mipago Kinal</h2>
          <p>Modelo: {{identidad.marbete[0].modelo}}</p>
          <p>Placa: {{identidad.marbete[0].placas}}</p>
          <p>Fecha Inicio: {{identidad.marbete[0].fechaInicio | date:'dd/MM/yy'}}</p>
          <p>Fecha Fin: {{identidad.marbete[0].fechaFin | date:'dd/MM/yy'}}</p>
      </div>
  </div>
  </div>

</body>
</html>
