/* You can add global styles to this file, and also import other style files */

/* Modals de Agregar y Editar*/
div .modal-contenido {
  background-image: url(../../Propuesta_Proyecto/src/assets/img/fondomodal.png);
}

.modal-titulo {
  background-color: #FFD559;
}

div .modal-partebaja {
  background-color: #41589c;
}


